$color-primary: #4758d6;
$color-secondary: #201c1c;
$color-terciary: #ea3a3a;
$color-background: #eeeded;

$font-primary: 'Oswald';
$font-secondary: 'Roboto';

$font-size-title: 20px;
$font-size-paragraph: 16px;